body{
    overflow-x: hidden;/*removed unneccesary horizontal scrolling*/
}

/*css properties to describe style of logo*/
.logo {
    float: left;
    width: 120px;
    height: 120px;
    padding-top: 5px;
    border-radius: 50%;
}

.portfolio-name {
    font-size: 3rem;
    font-weight: bold;
}


.portfolio-title {
    font-size: 1rem;
}


.name-title {
    float: right;
    padding: 10px;
    text-align: right;
}


.line {
    background-color: #7d97ad;
    height: 2px;
    width: 90%;/*to display only 90% width of the parent*/
}


.main-image {
    width: 100%;
}


.project-image {
    width: 100%;
    height: 80%;
}

article{
    padding-bottom: 10px;
    padding-right: 10px;
}


.project-name {
    color: #2d3c49;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    display: block;
}


.project-url {
    text-decoration: none;
    color: #2d3c49;
}


.feature-work {
    color: #7d97ad;
    font-weight: 300;
    font-size: 2rem;
}


/* type selector */
a:hover {
    text-decoration: none;
    color: #2d3c49;
}
